.places {
  margin: 92px 0 92px 0;
  padding: 0;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places {
    margin: 88px 0 90px 0;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin: 64px 0 66px 0;
  }
}