.lead {
  margin: 0 auto;
  padding: 56px 0 0 0;
  background-color: #2A2C2F;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .lead {
    max-width: 928px;
  }  
}

@media screen and (max-width: 769px) {
  .lead {
    padding: 48px 0 0 0;
  }
}