.lead__title {
  color: white;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    color: white;;
    font-size: 40px;
    line-height: 44px;
  }
}