.footer__copyright {
  display: flex;
  font-size: 14px;
  color: white;
  line-height: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 48px 0 0 0;
  }
}