.cover__title {
  width: 560px;
  color: white;
  font-weight: 900;
  font-size: 72px;
  font-style: normal;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px 0;
  padding: 0;
  position: relative;
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 73%;
  }  
}

@media screen and (max-width: 426px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px 0;
  } 
}