.place {
  margin: 0 auto 80px;
  display: grid;
  grid-gap: 40px 48px;
  grid-template-columns: minmax(460px, 1fr) 1fr;
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: calc(100% - 96px);
    grid-gap: 32px 48px;
    grid-template-columns: minmax(440px, 1fr) 1fr;
  }
}

@media screen and (max-width: 1025px) {
  .place {
    max-width: calc(100% - 64px);
    grid-gap: 48px 32px;
    grid-template-columns: minmax(340px, 1fr) 1fr;
  }
}


@media screen and (max-width: 769px) {
  .place {
    max-width: calc(100% - 56px);
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}

@media screen and (max-width: 426px) {
  .place {
    max-width: 320px;
    margin: 0 0 50px 0;
    grid-gap: 32px 0;
    grid-template-columns: minmax(288px, 320px);
  }
  
  .place:last-of-type {
    margin: 0 0 0 0;
  }
}