.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0 0 0 16px;
    max-width: calc(100% - 16px);
  }
}