.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 24px 0;
}

@media screen and (max-width: 1025px) {
  .footer {
    padding: 0 48px 24px;
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 24px 24px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0;
    max-width: calc(100% - 16px);
    margin: 0 0 24px 16px;
  }
}